*{
  margin: 0;

}

body{
  overflow: hidden;
  height: auto;
  
}

.fundo {
  background-size: cover;
  background-image: linear-gradient( to left,#5de0e6, #004aad); 
}



fieldset {
height: 20vh;
margin: 10% auto;
text-align: center;
border-radius: 5%;
box-shadow: 0 0.7em 1.5em -0.5em #004aad;
}

.topo {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100px; 
  z-index: 1000; 
  background-image: url('capa.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: #004aad; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.cor-fundo {
  background-color: #f2f3f4be;
  border: none;
  padding: 2%;
  color: #02234e;
  height: auto;
  margin: 10% auto;
  border-radius: 10px;
  box-shadow: 0 0.7em 1.5em -0.5em #004aad;
  width: 90%;
  max-width: 400px; 
  min-width: 300px; 
}


input {
  color:#383838;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}



.form {
  margin: 0px auto;
  justify-content: center;
  text-align: center;
--bg-light: #efefef;
--bg-dark: #707070;
--clr: #004aad;
--clr-alpha: #9c9c9c60;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
width: 100%;
max-width: 300px;
margin-top: 10%;
}

.form .input-span {
text-align: center;
width: 100%;
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"] {
text-align: center;
border-radius: 25px;
padding: 1rem;
font-size: 16px;
width: 80%;
margin: 0 auto;
border: none;
display: flex;
align-items: center;
gap: 0.5rem;
background-color: var(--clr-alpha);
outline: 3px solid var(--bg-dark);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
    outline: 2px solid var(--clr);
    transition: outline 0.3s ease;
}


.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
  text-align: center;
}

.form .submit {
padding: 1rem 0.75rem;
width: 100%;
display: flex;
align-items: center;
gap: 0.9rem;
border-radius: 3rem;
background-color: var(--bg-dark);
color: var(--bg-light);
border: none;
cursor: pointer;
transition: all 300ms;
font-weight: 600;
font-size: 0.9rem;
text-align: center;
}

.form .submit:hover {
background-color: var(--clr);
color: var(--bg-dark);
}

.span {
text-decoration: none;
color: var(--bg-dark);
text-align: center;

}

.span a {
color: var(--clr);

}



button{
  margin: 50px auto;
  width: 40%;
  text-align: center;
}

.cssbuttons-io-button {
  width: auto;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  width: 50%;
  margin: 20px auto;
  color: white;
  background: linear-gradient(0deg, #5de0e6 0%,#004aad 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
  letter-spacing: 0.05em;
  border-radius: 20em;
  

}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;

}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #82E0AA;

}

.a-botao{
  text-decoration: none;

}




.foot-p {
  color: white;
  background-color: #004aad; 
  font-size: 12px; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0; 
  font-size: 14px;
}


  
  h2{
    padding-left: 40px;
    color:#ffffff ;
    display: none;
    
  }
  
  /*Fotinha do usuario*/
  .user-profile {
    position: fixed;
    bottom: 80px;
    left: 10%;
    display: flex;
    align-items: center;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  }
  
  .user-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #ccc;
    
  }
  
  .user-profile span {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
  }  /*Fim da fotinha do usuario*/
  
  svg{
    margin: 15px 0px -10px;
  }
  
  .collapsed span {
    margin-left: 5%;
  }
  
  .active span {
    margin-left: 5%;
  }
  
  #nav-menu  {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    position: fixed;
    top: 100px;
    width: 27%;
    height: calc(100% - 80px); 
    font-weight: 800;
    border-left: 2px solid #004aad;
    background-color: #032149;
    line-height: 40px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between; 
    height: 90vh ;
    overflow: hidden;
  }
  
  
  
  
  #nav-menu  ul,
  #nav-menu  li {
    list-style: none;
    padding: 10px 2px;
    margin: 0px;
    cursor: pointer;
    overflow: hidden;
  }
      
  
  
  #nav-menu  ul :not(collapsed) .arrow:before, 
  #nav-menu  li :not(collapsed) .arrow:before {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
  }
  
  #nav-menu  ul .active,
  #nav-menu  li .active {
    background-color: #00347e;
    
  }
  
  
  
  #nav-menu  ul .sub-menu li.active a, 
  #nav-menu  li .sub-menu li.active a {
    color: #d6d2eef1;
  }
  
  
  #nav-menu  li {
    padding-left: 5%;
    border-left: 4px solid #006eff;
    border-bottom: 1px solid #004aad;
  }
  
  #nav-menu  li a {
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #e1ffff;
  }
  
  
  #nav-menu  li:hover {
    border-left: 4px solid #004aad;
    background-color: #006eff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  
  
  
  
  
  
  
  
  
  
  #menu-content{
    position: fixed;  
    top: 15%;           
    left: 0%;   
    width: 26%;
  }
  
  
  
  
  #menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: #0c24ac;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  nav {
    gap: 0px;
    padding-left: 0%;
  }
  
  nav a {
    color: #040422;
    font-family: 'varino';
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    padding-left: 0%;
  }
  
  
  
  /* Responsividade para celulares */
  @media (max-width: 768px) {

    nav{

      height: 40vh;
    }

    .topo{
      background-size: cover;
      height: 4vh;
    }

    .arrow{
      color: white;
      font-weight: 800;
    }

    #menu-toggle {
      display:flex;
    }
  
    #menu-content{
      position: fixed;  
      top: 12%;           
      left: 0%;   
      width: 60%;
    }
  
    .botão-toggle {
      position: absolute;  
      top: -3%;           
      left: 2%;   
      background-color: #fefefe; /* Cor de fundo do botão */
      color: rgb(255, 255, 255);     
      border: none;    
      cursor: pointer;     
      border-radius: 5px;  
  }
  
  .botão-toggle:hover {
      background-color: #ffffff;  
  }
  
  
  
    #nav-menu {
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    position: fixed;
    top: 10%;
    left: 0px;
    width: 60%;
    height: calc(100% - 8px); 
    font-weight: 800;
    border-left: 3px solid #004aad;
    background-color: #032149;
    line-height: 50px;
    display: none;
    flex-direction: column-reverse;
    justify-content: space-between; 
    height: 50vh ;
    overflow: hidden;
    z-index: 10; /* Garantir que o pop-up fique acima de outros elementos */
  }
  
  
    #nav-menu a {
      padding: 0px 0;
      text-align: center;
      width: 100%;
    }
  
    #nav-menu.show {
      display: flex;
    }
  
  
  
    #nav-menu ul,
    #nav-menu li {
      list-style: none;
      padding: 0px;
      margin: 0px;
      cursor: pointer;
      overflow: hidden;
    }
        
    
  
    
    #nav-menu ul .active,
    #nav-menu li .active {
      background-color: #00347e;
      
    }
    
    
    
    #nav-menu ul .sub-menu li.active a, 
    #nav-menu li .sub-menu li.active a {
      color: #d6d2eef1;
    }
    
    
    #nav-menu li {
      padding-left: 20px;
      border-left: 5px solid #006eff;
      border-bottom: 1px solid #004aad;
    }
    
    #nav-menu li a {
      text-decoration: none;
      color: #e1ffff;
    }
    
    
    #nav-menu li:hover {
      border-left: 3px solid #00122b;
      background-color: #00347e;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
    }
  
  .botao-logout{
    z-index: 10; /* Garantir que o pop-up fique acima de outros elementos */

  }
  
    .user-profile {
      position: fixed;
      bottom: 400px;
      left: 30px;
     }

     .user-profile img {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
     }


     .botao-logout {
      position: fixed; /* Faz o botão ficar fixo na tela */
      top: 370px;
    }

  }

  /* Responsividade para celulares */
  @media (min-width: 1600px) {

    #nav-menu ul{
      position: fixed;
      top: 10%;}


    #nav-menu  ul,
    #nav-menu  li {
      list-style: none;
      padding: 10px 15px;
      margin: 0px;
      cursor: pointer;
      overflow: hidden;
    }
  }
