*{
  margin: 0;

}

body{
  overflow: hidden;
  height: auto;
}

.fundo {
  background-size: cover;
  background-image: linear-gradient( to left,#5de0e6, #004aad); 
}


fieldset {
width: 30%;
height: 20vh;
margin: 10% auto;
text-align: center;
padding: 2%;
border-radius: 5%;
box-shadow: 0 0.7em 1.5em -0.5em #004aad;
}

.topo {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100px; 
  z-index: 1000; 
  background-image: url('capa.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: #004aad; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .topo {
      height: 80px; 
      background-size: contain;
      padding: 10px;
  }
}

@media (min-width: 1920px) {
  .topo {
      height: 120px; 
  }
}



.cor-fundo {
  background-color: #f2f3f4be;
  border: none;
  padding: 2%;
  color: #02234e;
  height: auto;
  margin: 10% auto;
  border-radius: 10px;
  box-shadow: 0 0.7em 1.5em -0.5em #004aad;
  width: 90%;
  max-width: 400px; 
  min-width: 300px; 
}


input {
  color:#383838;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}



.form {
  margin: 0px auto;
  justify-content: center;
  text-align: center;
--bg-light: #efefef;
--bg-dark: #707070;
--clr: #004aad;
--clr-alpha: #9c9c9c60;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
width: 100%;
max-width: 300px;
margin-top: 10%;
}

.form .input-span {
text-align: center;
width: 100%;
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"] {
text-align: center;
border-radius: 25px;
padding: 1rem;
font-size: 16px;
width: 80%;
margin: 0 auto;
border: none;
display: flex;
align-items: center;
gap: 0.5rem;
background-color: var(--clr-alpha);
outline: 3px solid var(--bg-dark);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
    outline: 2px solid var(--clr);
    transition: outline 0.3s ease;
}


.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
  text-align: center;
}

.form .submit {
padding: 1rem 0.75rem;
width: 100%;
display: flex;
align-items: center;
gap: 0.9rem;
border-radius: 3rem;
background-color: var(--bg-dark);
color: var(--bg-light);
border: none;
cursor: pointer;
transition: all 300ms;
font-weight: 600;
font-size: 0.9rem;
text-align: center;
}

.form .submit:hover {
background-color: var(--clr);
color: var(--bg-dark);
}

.span {
text-decoration: none;
color: var(--bg-dark);
text-align: center;

}

.span a {
color: var(--clr);

}



button{
  margin: 50px auto;
  width: 40%;
  text-align: center;
}

.cssbuttons-io-button {
  width: auto;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  width: 50%;
  margin: 20px auto;
  color: white;
  background: linear-gradient(0deg, #5de0e6 0%,#004aad 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
  letter-spacing: 0.05em;
  border-radius: 20em;
  

}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;

}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #82E0AA;

}

.a-botao{
  text-decoration: none;

}




.foot-p {
  color: white;
  background-color: #004aad; 
  font-size: 12px; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0; 
  font-size: 14px;
}

svg{
  margin: 15px 0px -10px;
}

.collapsed span {
  margin-left: 5%;
}

.active span {
  margin-left: 5%;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  position: fixed;
  top: 100px;
  width: 390px;
  height: calc(100% - 80px); 
  font-weight: 800;
  border-left: 3px solid #004aad;
  background-color: #032149;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 90vh ;
  overflow: hidden;
}




.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  overflow: hidden;
}
    


.nav-side-menu ul :not(collapsed) .arrow:before, 
.nav-side-menu li :not(collapsed) .arrow:before {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: #00347e;
  
}



.nav-side-menu ul .sub-menu li.active a, 
.nav-side-menu li .sub-menu li.active a {
  color: #d6d2eef1;
}


.nav-side-menu li {
  padding-left: 20px;
  border-left: 5px solid #006eff;
  border-bottom: 1px solid #004aad;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}


.nav-side-menu li:hover {
  border-left: 3px solid #00122b;
  background-color: #00347e;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}


@media (max-width: 1300px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    height:inherit;
}
 
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  position: fixed;
  top: 100px;
  width: 390px;
  height: calc(100% - 80px); 
  font-weight: 800;
  border-left: 3px solid #004aad; 
  background-color: #032149;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 84vh ;
}

.brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
}
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
}
}







.button {
display: block;
position: relative;
width: 56px;
height: 56px;
margin: 30px 300px;
overflow: hidden;
outline: none;
background-color: transparent;
cursor: pointer;
border: 0;

}

.button:before,
.button:after {
content: "";
position: absolute;
border-radius: 50%;
inset: 5px;
}

.button:before {
border: 4px solid #f0eeef;
transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
  transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
border: 4px solid #96daf0;
transform: scale(1.3);
transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
  transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
opacity: 0;
}

.button:hover:before,
.button:focus:before {
opacity: 0;
transform: scale(0.7);
transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
  transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
opacity: 1;
transform: scale(1);
transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
  transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
display: flex;
position: absolute;
top: 0;
left: 0;

}

.button-elem {
display: block;
width: 20px;
height: 20px;
margin: 38px 18px 0 18px;
transform: rotate(180deg);
fill: #f0eeef;


}

.button:hover .button-box,
.button:focus .button-box {
transition: 0.4s;
transform: translateX(-56px);

}



h2{
  padding-left: 40px;
  color:#ffffff ;
  display: none;
  
}

.user-profile {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  padding: 0px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.user-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ccc;
  
}

.user-profile span {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

